
style
    body {
            padding-top: 60px;
            padding-bottom: 40px;
          }


.container
    .row-fluid
        .span12
            table#grid
                thead
                    tr
                        th &nbsp;
                        th Item
                        th Type
                        th Price
                tbody
                    td(colspan=3)
    .row-fluid
        .span9 &nbsp;
        .span2
            input#total(type="text",width=50)
        .span1
    .row-fluid
        .span9 &nbsp;
        .span3
            button#checkOutBtn.btn.btn-primary Checkout!

    #checkOut.hide
        .row-fluid
            .span2
            .span10
                hr
                form#checkOutForm
                    legend Enter Credit Card Info
                    fieldset
                        label Credit Card
                        input#ccnum(type="text",name='ccnum',placeholder="Credit Card")
                        label Security Code
                        input#seccode(type="text",name='seccode',placeholder="Sec Code")
                        label Name on Card
                        input#nameOnCard(type="text",name='nameOnCard',placeholder="Name On Card")
                    button#buyButton.btn(type='button') Buy!



script#template(type="text/x-kendo-tmpl")
    .product(data-content="${albums.price} ${albums.genre}",data-trigger="hover")
        img(src="http://placehold.it/72x72")
        .h3 ${albums.name}
        p ${artistName} $${albums.price} ${albums.genre}
script
    var dataSource = new  kendo.data.DataSource({
        //data:[
        //    {band:"Moop",album:"Trilogy",dolOnOffer:10000,dolPerShare:1000,numOfShares:10},
        //    {band:"Faith+1",album:"Renewal",dolOnOffer:5000,dolPerShare:100,numOfShares:50}
        //],
        transport: {
            read: '/api/cart'
        },
        schema: {
            data: function(response){
                return response.items;
            }
        },
        aggregate: [
            {field:"price",aggregate:"sum"}
         ],
        pageSize: 10,
        change: function(e) {
            var aggr = dataSource.aggregates();
            var total = aggr.price.sum;
            $("#total").val(parseFloat(total).toFixed(2));
        }
    });
    $("#grid").kendoGrid({
        height: 200,
        columns: [
            {title: " ", command: {text: "Delete", click: deleteItem},width:100},
            {title: "Item Name", field: "name"},
            {title: "Type", field: "itemType"},
            {title: "Price", field: "price",width:100,format:"{0:c}"}
        ],
        dataSource: dataSource
    });
    function deleteItem(e) {
        //e.preventDefault();
        ///window.location = "/artist";
    };

    $('#checkOutBtn').click(function(event){
        $('#checkOutBtn').attr('disabled','disabled');
        $('#checkOut').show();
    });

    $('#buyButton').click(function(event){
        $('#buyButton').attr('disabled','disabled');
        var newUuid = uuid.v4();
        command = {
            id: newUuid,
            command: "buyOrder",
            payload: {
                ccnum: $('#ccnum').val(),
                seccode: $('#seccode').val(),
                nameOnCard: $('#nameOnCard').val()
            }
        };
        socket.emit("command",command);
    });
    socket.on('orderBought',function(data){
        alert('Thank You For Your Purchase!');
        window.location="/";

    });

style(scoped="")
    #listView {
        min-height: 610px;
    }

    .product {
    float: left;
    position: relative;
        width: 110px;
        height: 160px;
        margin: 10px;
        padding: 7px 7px 0 7px;
        -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.8)
    }

    .product img {
    width: 110px;
        height: 110px;
    }

    .product h3 {
        margin: 0;
        padding: 0;
        line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
        text-transform: uppercase;
    color: #777;
    }

    .product p {
        visibility: hidden;
    }

    .product:hover p {
        visibility: visible;
    position: absolute;
    width: 100px;
    height: 78px;
    top: 77px;
        margin: 0;
    padding: 3px 5px;
    line-height: 34px;
    vertical-align: top;
    text-align: center;
    color: #fff;
    background-color: rgba(0,0,0,0.65);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
    }

    .k-listview:after, .product dl:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .k-listview {
        border: 0;
        padding: 0 0 20px 0;
        min-width: 0;
    }

