div.modal-header
    button.close(type="button",data-dismiss="modal",aria-hidden="true",ng-click="close()") x
    h3#signupDialogLabel Join SoundScry!
form#signupForm.well(novalidate="")
    div.modal-body
        fieldset
            label Email
            input.span3(type="email",placeholder="Email",name="email",ng-model="user.email",required="")
            label Password
            input.span3(type="password",placeholder="Password",name="password",ng-model="user.password",required="")
            label Confirm Password
            input.span3(type="text",placeholder="Confirm Pass",name="passconfirm")

            label How do you think you will primarily use SoundScry?
            flatui-checkbox(name="musician",
                            value="artist",
                            text="Musician/Band that wants to promote and grow the market for their music",
                            model="user.musician")
            flatui-checkbox(name="investor",value="investor",
                            text="Music Investor/Fan/Promoter that wants to invest in bands and grow their listener base",
                            model="user.investor")
            flatui-checkbox(name="musiclover",value="musiclover",
                            text="Music Lover that just wants to buy great music",
                            model="user.musiclover")
            //pre e = {{user.email}}
            //pre check = {{user.musician}}

    div.modal-footer
        a(href="#fakeLink").btn.btn-small.btn-social-facebook
            i.fui-facebook
            | Connect With Facebook

        button.btn(data-dismiss="modal",aria-hidden="true",ng-click="close()") Close
        button.btn.btn-primary(id="signupbtn",ng-click="close(user)") Sign Up!