extends layout
block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
    include common/topbar
    //-- todo refactor out
    #buySharesModal.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="buySharesModalLabel",aria-hidden="true")
        .modal-header
            button.close(type="button",data-dismiss="modal",aria-hidden="true") x
            h3#buySharesModalLabel Buy Shares!
        .modal-body
            .row-fluid
                .span6
                    pre#offerInfo
                        | Name : &nbsp;
                        span(style="font-weight: bold;",data-bind="text: name")
                        br
                        | Raise Amount : &nbsp;
                        span(style="font-weight: bold;",data-bind="text: amtToRaise")
                        br
                        | % Offered : &nbsp;
                        span(style="font-weight: bold;",data-bind="text: pctOfferingToSell")
                        br
                        | Shares Avail : &nbsp;
                        span(style="font-weight: bold;",data-bind="text: sharesAvailable")

                .span6
                    form#buySharesForm
                        fieldset
                        label # Shares To Buy
                        input#sharesPurchased(type="number",name="sharesPurchased")

        .modal-footer
            button.btn(data-dismiss="modal",aria-hidden="true") Close
            button#buySharesBtn.btn.btn-primary Buy Shares!

    .container
            .hero-unit
                h2 #{locals.info.albums.name}
                h4 Artist: #{locals.info.artistName}
                .row-fluid(width="800")
                    .span4
                        img(src="/util/rndsmlcvr/1",width=300,height=300)
                    .span8
                        h4 Genre: <em>#{locals.info.albums.genre}</em>
                        h4 Bio: <em>#{locals.info.bio}</em>
                        h4 # of Tracks: <em>#{locals.info.albums.songs.length}</em>
                        h4 Release Date: <em>#{!locals.info.albums.releaseDate ? "" : locals.info.albums.releaseDate.toString('yyyy-MM-dd')}</em>
                        h4 Price: <em> $ #{parseFloat(locals.info.albums.price).toFixed(2)}</em>
                        hr
                        - if (locals.user)
                            button#addToCart.btn.btn-primary Add To Cart
                            button#buyNow.btn Buy Now
                            button#investChips.btn.btn-danger Invest 10 Chips!
                            - if (locals.info.albums.isActiveOffer)
                                button#showBuySharesBtn.btn.btn-danger Buy Shares!
                        - else
                            button#addToCart.btn.btn-primary Add To Cart
                            button#buyNow.btn  Buy Now
                            //button#investChips.btn.btn-danger.disabled  Invest 10 Chips!
                hr
                .row-fluid

                    .span10
                        each song in locals.info.albums.songs
                            h4 #{song.name}
                            audio(controls="")
                    .span2


            hr
    - if (locals.user)
        script
            var userid = "#{locals.user._id}"
    script
        $('#sharesPurchased').kendoNumericTextBox();
        socket.on('investmentAddedToOffer',function(data){
            /*setTimeout(function(){
                checkCart();
             },250);*/
             alert(JSON.stringify(data));
             $('#buySharesModal').modal('hide');

        });
        $('#buySharesBtn').click(function(){
            var formData = $('#buySharesForm').serialize();
            $.ajax({
                type:"POST",
                url:"/api/offers/investments/"+"#{locals.info.albums.offerId}",
                data: formData,
                success: function(data){
                    console.log("investment sent: "+data);
                }
            });

        });
        $('#showBuySharesBtn').click(function(){
            var offerUrl = "/api/offers/info/"+"#{locals.info.albums.offerId}";
            $.ajax({
                type:"GET",
                url:offerUrl,
                success: function(data) {
                    console.log(data);
                    var offerModel = kendo.observable(data);
                    kendo.bind($('#offerInfo'),offerModel);
                    $('#buySharesModal').modal('show');
                }
            });

        });
        $('#addToCart').click(function(){
            //var formData = $('#investorInfoForm').serialize();
            //var id = $("#uid").val();
            var newUuid = uuid.v4();
            command = {
                id: newUuid,
                command: "addItemToOrder",
                payload: {
                    itemType:"album",
                    itemId: "#{locals.info.albums._id}",
                    name: "#{locals.info.albums.name}",
                    price: #{locals.info.albums.price},
                    artistId: "#{locals.info._id}"

                }
            };
            socket.emit("command",command);
            /*$.ajax({
                type:"POST",
                url:"/cart/item",
                data: {itemType:"album",itemId: "#{locals.info.albums._id}"},
                success: function(data) {
                    //alert(sent);
                    $('#alert').show();
                }
            });*/

        });
        $('#buyNow').click(function(){
            //var formData = $('#investorInfoForm').serialize();
            //var id = $("#uid").val();
            $.ajax({
                type:"POST",
                url:"/buynow/item",
                data: {itemType:"album",itemId: "#{locals.info.albums._id}"},
                success: function(data) {
                    //alert(sent);
                    $('#alert').show();
                }
            });

        });

            $('#investChips').click(function(){
                /*var newUuid = uuid.v4();
                $.ajax({
                    type:"POST",
                    url:"/user/chips/item",
                    data: {id:newUuid,command:"addUserWager",payload:{itemId: "#{locals.info.albums._id}",chips:10}},
                    //data: {itemType:"album",itemId: "#{locals.info.albums._id}"},
                    success: function(data) {
                        //alert(sent);
                        $('#alert').show();
                    }
                });*/
                var newUuid = uuid.v4();
                command = {
                    id: newUuid,
                    command: "createChipWager",
                    payload: {

                        itemId: "#{locals.info.albums._id}",
                        userId: userid,
                        itemType:'album',
                        chipCount:10,
                        name: "#{locals.info.albums.name}",

                    }
                };
                socket.emit("command",command);

            });