extends layout

block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
              .sidebar-nav {
                padding: 9px 0;
              }
    include common/topbar
    div.container-fluid
        div.row-fluid
            div.span3
                div.well.sidebar-nav
                    ul.nav.nav-list
                        li.nav-header Options
                        li.active: a(href="/profile/detail") Edit Profile
                        li: a(href="/profile") Active Offerings
                        li: a(href="#") Reports
                            ul.nav.nav-list
                                li: a(href="#") Account Information Summary
                                li: a(href="#") Complete Offering Summary
                                li: a(href="#") Offering Revenue Summary
                                li: a(href="#") Investment Summary Per Investment
                        li: a(href="#") Music Genres
                        li: a(href="#") Band Search
                //a.btn.btn-primary.span2(href="#addOfferDialog",role="button",data-toggle="modal") Add Project!
                a.btn.btn-primary.span2(id="addProjectBtn") Add Project!
            div.span9
                div.hero-unit
                    div#alert.alert(style="display: none")
                        button(type="button",class="close",data-dismiss="alert") &times;
                        p Data Updated
                    div.row-fluid
                        div.span12
                            h4 Basic Information
                    div.row-fluid
                        div.span2
                        div.span8
                            form#basicInfoForm.well
                                label Email
                                input.span3(type="email",placeholder="Email",name="email",readonly="",value=locals.user.email);
                                label First Name
                                input#password.span3(placeholder="First Name",name="firstName",value=locals.user.firstName)
                                label Last Name
                                input.span3(placeholder="Last Name",name="lastName",value=locals.user.lastName)
                                input#uid(type="hidden",name="_id",value=locals.user._id)
                            button#submitBasic.btn.btn-primary Update Basic Information
                            button.btn Change Password


                    div.row-fluid
                        hr
                        h4 Investor Information
                    div.row-fluid
                        div.span2
                        div.span8
                            form#investorInfoForm.well
                                label Address1
                                input.span3(placeholder="Address",name="address1",value=locals.user.address1);
                                label Address2
                                input#password.span3(placeholder="Address2",name="address2",value=locals.user.address2)
                                label City
                                input.span3(placeholder="City",name="city",value=locals.user.city)
                                label State
                                input.span3(placeholder="State",name="state",value=locals.user.state)
                                hr
                                label SSN
                                input.span3(placeholder="SSN",name="ssn",value=locals.user.ssn)
                                label Annual Income
                                input.span3(placeholder="Annual Income",name="annualIncome",value=locals.user.annualIncome)
                            button#submitInvestor.btn.btn-primary Update Investor Information



    div#addOfferDialog.modal.hide.fade()
        div.modal-header
            button.close(type="button",data-dismiss="modal",aria-hidden="true")
            h3#addOfferDialogLabel Create A New Project!
        form.well(id="newProjectForm",method="post",action="/api/issue")
            div.modal-body
                label Prform
                input.span3(type="text",placeholder="Project Name",name="projectName")
                label Amount Required for Project (USD)
                input.span3(type="text",placeholder="Amount Required",name="amountRequired")
                label Number of Shares
                input.span3(type="text",placeholder="Number of shares",name="noOfShares")
                label Single Investor Max
                input.span3(type="text",placeholder="Single Investor Max",name="singleInvestorMax")
                label Description (max 1000 characters)
                textarea.span3(rows="4",placeholder="Description",name="description")
                label Photo (1500x900)
                input.span3(type="file",name="photo")
            div.modal-footer
                button.btn(data-dismiss="modal",aria-hidden="true") Close
                button.btn.btn-primary(id='submitbtn',type='submit') Sign Up!
    script
        var socket = io.connect();
        //socket.emit('newIssue',{name:"test"});
        // handle submission form
        $('#submitBasic').click(function(){
            var formData = $('#basicInfoForm').serialize();
            var id = $("#uid").val();
            $.ajax({
                type:"PUT",
                url:"/api/user/"+id,
                data: formData,
                success: function(data) {
                    //alert(sent);
                    $('#alert').show();
                }
            });

        });
        $('#submitInvestor').click(function(){
            var formData = $('#investorInfoForm').serialize();
            var id = $("#uid").val();
            $.ajax({
                type:"PUT",
                url:"/api/user/"+id,
                data: formData,
                success: function(data) {
                    //alert(sent);
                    $('#alert').show();
                }
            });

        });
        $('#newProjectForm').submit(function(){
            //$('#addOfferDialog').remove();
            var formData = $(this).serialize();
            var id = $("#uid").val();
            formData.userid = id;
            //alert(formData);
            socket.emit('newIssue',{data:formData});
            return false;

        });
        //$('#submitbtn').click(function(){

        //    var formData = $('#newProjectForm').serialize();
        //    var id = $("#uid").val();
        //    formData.userid = id;
            //$('#addOfferDialog').remove();
            //alert(formData);
        //    socket.emit('newIssue',{data:formData});
        //});
    script
        $("#addProjectBtn").click(function(){
            $('#addOfferDialog').modal('show');

        });
    script
        $("#revenuechart").kendoChart({
            title: {
                text: "Revenue Over Time"
            },
            series: [
                {
                    type: "line",
                    name: "Revenue",
                    data:[50.27,112.65,245.50,302.97,600.12, 1027.25, 2047.45]
                }
            ],
            seriesDefaults: {type: "line"}
        });
    script
        $("#investchart").kendoChart({
            height: 200,
            title: {
                text: "Investment Breakdown"
            },
            dataSource: {
                data: [
                    {category: "Moop", value: 5000},
                    {category: "Faith+1", value: 3000}
                ]
            },
            series: [{
                type: "donut",
                field: "value"
            }]
        });
    script
        $("#grid").kendoGrid({
                    height: 400,
                    columns: [
                        {title: "Band", field: "band"},
                        {title: "Project", field: "project"},
                        {title: "Shares Owned", field: "sharesOwned"},
                        {title: "Value", field: "shareValue"},
                        {title: "Status", field: "status"},
                        {title: "Revenue", field: "revenue"}
                    ],
                    dataSource: {
                        data:[
                            {band:"Moop",project:"Trilogy",sharesOwned:5,shareValue:5000,status:"In Production",revenue:"N/A"},
                            {band:"Faith+1",project:"Renewal",sharesOwned:3,shareValue:3000,status:"Released",revenue:"$675.45"}

                        ],
                        pageSize: 2
                    }
                });



