div#alert.alert(style="display: none")
    button(type="button",class="close",data-dismiss="alert") &times;
    p Data Updated
div.row-fluid
    div.span12
        h4 Musician Sign-Up
        p Please complete the following information in order to share your music and make offers on SoundScry
div.row-fluid
    div.span1
    div.span5
        form#basicInfoForm.well
            label Band Name
            input.span3(type="text",placeholder="Band Name",name="bandName",value=locals.user.bandName);
            //label Band Contact
            //input#password.span3(placeholder="Band Contact",name="bandContact",value=locals.user.)
            label Contact Phone
            input.span3(placeholder="Band Contact Phone",name="bandContactPhone",value=locals.user.bandContactPhone)
            label Address1
            input.span3(placeholder="Address",name="address1",value=locals.user.address1);
            label Address2
            input#password.span3(placeholder="Address2",name="address2",value=locals.user.address2)
            label City
            input.span3(placeholder="City",name="city",value=locals.user.city)
            label State
            input.span3(placeholder="State",name="state",value=locals.user.state)
            input#uid(type="hidden",name="_id",value=locals.user._id)
            input#isArtist(type="hidden",name="isArtist",value="true")
        button#submitBasic.btn.btn-primary Create Musician Information
    div.span6
        div.well
            .row
                .span12
                    h3 What will be created once you sign up?
            .row-fluid
                .span12
                    ul A Public Profile page that will showcase your music. Including your:
                        li Artwork
                        li Band Name
                        li Albums
                        li Tracks
                        li Merchandise
                        li Description
                        li Storefront
                    ul A Private Profile page that will be for your eyes only and include:
                        li Current Offerings and where that stand
                        li Music Sales
                        li Merchandising Sales
                        li Analytics
                        li Reports
                        li Music Purchaes
                        li Other Musicians you have invested in
script
    $('#submitBasic').click(function(){
            var formData = $('#basicInfoForm').serialize();

            var id = $("#uid").val();
            $.ajax({
                type:"PUT",
                url:"/api/user/"+id,
                data: formData,
                success: function(data) {
                    alert("Musician Info Updated. Loading Musician Profile.");
                    loadProfilePage('/fragments/musicianprofile');
                    //$('#alert').show();
                }
            });

        });
